<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ 'wp_title'|function('-') }}</title>

    {# preloads -- see https://web.dev/preload-critical-assets/ #}
    <link rel="preload"
      href="https://fonts.googleapis.com/css?family=Archivo+Black&display=optional"
      as="style" />
    <link rel="preload"
      href="{{ function('rev', 'fonts/inter-v13-latin-regular.woff2') }}"
      as="font"
      type="font/woff2"
      crossorigin />
    <link rel="preload" href="{{ function('rev', 'css/screen.css') }}" as="style" />

    {# webfonts -- we preferr to self host via _fonts.css if possible #}
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Archivo+Black&display=optional" />

    {# primary css #}
    <link rel="stylesheet" href="{{ function('rev', 'css/screen.css') }}" />

    {# other css -- try and keep to a minimum #}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>

    {% if gv.ga_id %}
      {% include 'components/ga.twig' with {
        ga_id: gv.ga_id,
        location: 'head'
      } %}
    {% endif %}

    {% if gv.gtm_id %}
      {% include 'components/gtm.twig' with {
        gtm_id: gv.gtm_id,
        location: 'head'
      } %}
    {% endif %}

    {{ function('wp_head') }}

    {% block head %}{% endblock %}
  </head>
  <body {{ function('body_class', body_classes) }} id="{{ body_id }}">
    {% if gv.gtm_id %}
      {% include 'partials/gtm.twig' with {
        gtm_id: gv.gtm_id,
        location: 'body'
      } %}
    {% endif %}

    {% include 'partials/header.twig' %}

    {% block content %}
      Not Found
    {% endblock %}

    {% include 'partials/footer.twig' %}

    {% if environment == 'development' %}
      {% include 'components/tailwind-indicator.twig' %}
    {% endif %}

    {{ function('wp_footer') }}

    {#
      - Load JS libs then custom scripts. Paths should be relative to assets folder
      - Build block uses gulp-useref to copy/rev assets
      - Rev function uses a custom php helper that adjusts filesname depending on env, and adds md5 hash in production
    #}

    <script src="{{ function('rev', 'js/main.js') }}"></script>
    {% set scripts = ['swiper'] %}
    {% for script in scripts %}
      {% if script in script_loader %}
        <script src="{{ function('rev', 'js/' ~ script ~ '.js') }}"></script>
      {% endif %}
    {% endfor %}

    {% set rev_js %}
      {# This tells gulp which files to run through esbuild #}
      <!-- build:js js/all.js -->
      <script src="js/main.js"></script>
      <script src="js/swiper.js"></script>
      <!-- endbuild -->
    {% endset %}

    {# Individual templates can load scripts here #}
    {% block footer_scripts %}{% endblock %}
  </body>
</html>
