<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>{{ "wp_title"|function("-") }}</title>

        <!-- parse-ignore-start -->
        {# preloads #}
        <link rel="preload" href="{{ function("rev", "fonts/Mona-Sans-Regular.woff2") }}" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="{{ function("rev", "fonts/Mona-Sans-RegularItalic.woff2") }}" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="{{ function("rev", "fonts/Mona-Sans-Bold.woff2") }}" as="font" type="font/woff2" crossorigin />
        <linl rel="preload" href="{{ function("rev", "fonts/Mona-Sans-BoldItalic.woff2") }}" as="font" type="font/woff2" crossorigin />

        {# webfonts #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ function("rev", "css/screen.css") }}">
        <!-- parse-ignore-end -->

        {% if gv.ga_id %}
            {# https://github.com/googleanalytics/autotrack #}
            <script>
                window.ga = window.ga || function () {
                    ( ga.q = ga.q || [] ).push( arguments )
                };
                ga.l = + new Date;
                ga( 'create', '{{ gv.ga_id }}', 'auto' );

                ga( 'require', 'cleanUrlTracker', {
                    stripQuery: true,
                    indexFilename: 'index.html',
                    trailingSlash: 'remove'
                } );

                ga( 'require', 'eventTracker' );
                ga( 'require', 'outboundLinkTracker' );{% if environment == "development" or user %}

// No GA data sent while in dev or logged in
                    ga( 'set', 'sendHitTask', null );{% endif %}ga( 'send', 'pageview' );
            </script>

            <script src='https://www.google-analytics.com/analytics.js'></script>
        {% endif %}

        <!-- GTM array to catch events -->
        <script>
            var dataLayer = [];
        </script>

        {% if environment != "development" and gv.gtm_id %}
            <!-- Google Tag Manager -->
            <script>
                ( function ( w, d, s, l, i ) {
                    w[ l ] = w[ l ] || [];
                    w[ l ].push( { 'gtm.start': new Date().getTime(), event: 'gtm.js' } );
                    var f = d.getElementsByTagName( s )[0],
                        j = d.createElement( s ),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                    f.parentNode.insertBefore( j, f );
                } )( window, document, 'script', 'dataLayer','{{ gv.gtm_id }}' );
            </script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {{ wp_head }}

        {% block head %}{% endblock %}
    </head>
    <body {{ function('body_class', body_classes ) }} id="{{ body_id }}">

        {% if environment != "development" and gv.gtm_id %}
            <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe
                    src="https://www.googletagmanager.com/ns.html?id={{ gv.gtm_id }}"
                    height="0"
                    width="0"
                    style="display:none;visibility:hidden"></iframe>
            </noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% include "partials/header.twig" %}

        {% block content %}
            Not Found
        {% endblock %}

        {% include "partials/footer.twig" %}

        {{ wp_footer }}

        {% if environment == "development" %}
            <script src="{{ theme_dir }}/assets/vendor/jquery/dist/jquery.js"></script>
        {% else %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endif %}

        <!-- parse-ignore-start -->
        {#
            - Load JS libs then custom scripts. Paths should be relative to assets folder
            - Build block uses gulp-useref to copy/rev assets
            - Rev function uses a custom php helper that adjusts filesname depending on env, and adds md5 hash in production
        #}
        <!-- parse-ignore-end -->

        {% set rev_js %}
        <!-- build:js js/all.js -->
        <script src="vendor/autotrack/autotrack.js"></script>
        <script src="vendor/fitvids.js/jquery.fitvids.js"></script>
        <script src="vendor/popper.js/dist/umd/popper.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="vendor/jquery-match-height/jquery.matchHeight.js"></script>
        <script src="js/console-safe.js"></script>
        <script src="js/main.js"></script>
        <!-- endbuild -->
        {% endset %}

        {# Output assets #}
        {{ function("revBlock", rev_js) }}

        {# Individual templates can load scripts here #}
        {% block footer_scripts %}{% endblock %}
    </body>
</html>
