{% if display == "prev_next" %}
    {% set prev_text = "Newer" %}
    {% set next_text = "Older" %}

    <div class="row prev-next">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <div class="prev">
                {% if pagination.prev %}
                    <a href="{{ pagination.prev.link }}" class="btn btn-primary btn-prev">{{ prev_text }} </a>
                {% endif %}
            </div>
            <div class="next">
                {% if pagination.next %}
                    <a href="{{ pagination.next.link }}"  class="btn btn-primary btn-next">{{ next_text }} </a>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <nav class="text-center">
        <ul class="pagination">
            {% if pagination.prev %}
                <li>
                    <a href="{{ pagination.prev.link }}" class="prev {{ pagination.prev.link|length ? '' : 'invisible' }}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for page in pagination.pages %}
                <li {% if "current" in page.class %} class="active"{% endif %}>
                    {% if page.link %}
                        <a class="{{ page.class  }}{" href="{{ page.link }}">{{ page.title }}</a>
                    {% else %}
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}

            {% if pagination.next %}
                <li>
                    <a href="{{ pagination.next.link }}" class="next {{ pagination.next.link|length ? '' : 'invisible' }}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
