{# render menu macro  #}

{% macro navbar_nav( menu, name_class, top_classes ) %}
    <ul class="navbar-nav {{ top_classes }}">
        {% for item in menu.get_items %}
            <li class="nav-item {{ item.get_children ? 'dropdown ' : '' }}{{ item.classes | join(' ') }}">
                <a class="nav-link {{ item.get_children ? ' dropdown-toggle ' : '' }}"
                    href="{{ item.get_link }}"
                    {% if item.get_children %}
                        id="{{ name_class }}-{{loop.index}}"
                        role="button"
                        aria-haspopup="true" aria-expanded="false"
                    {% endif %}
                    {% if item.target %}target="{{ item.target }}"{% endif %}
                >
                    <span class="text-offset">{{ item.title }}</span>
                </a>
                {% if item.get_children %}
                    <div class="dropdown-menu" aria-labelledby="{{ name_class }}-{{loop.index}}">
                        {% for child in item.get_children %}
                            <a class="dropdown-item nav-link" href="{{ child.get_link }}"
                                {% if child.target %}target="{{ child.target }}"{% endif %}
                            >
                                {{ child.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% import _self as lm %}



<header class="component-main-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand logo" href="/">
                        {# <img src="/path/to/logo.svg" alt=""> #}
                        {{ wp_title }}
                    </a>

                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="headerNavbar">
                        {{ lm.navbar_nav(header_menu, 'main-header-nav',  '') }}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
