{# render menu macro  #}
{% macro header_nav( menu, top_classes ) %}
    <nav class="main-header-nav {{ top_classes }}">
        <ul class="top-level-menu">
            {% for item in menu.get_items %}
                <li class="text-uppercase {{ item.get_children ? 'dropdown ' : '' }}{{ item.classes | join(' ') }}">
                    <a href="{{ item.get_link }}"
                        {% if item.target %}target={{ item.target }}{% endif %}
                        class="nav-link {{ item.get_children ? ' dropdown-toggle ' : '' }}"
                        {% if item.get_children %} data-hover="dropdown" {% endif %}
                        role="button" aria-expanded="false">
                        {{ item.title }}
                    </a>
                    {% if item.get_children %}
                        {#  In mobile, rather than hover, we have an dropdown
                            toggle link '+' for submenu items #}
                        <a href="#" class="plus-expand link-subtle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for child in item.get_children %}
                                <li class="{{ item.classes | join(' ') }}">
                                    <a href="{{ child.get_link }}" class="nav-link"
                                        {% if child.target %}target={{ child.target }}{% endif %}
                                        >
                                        {{ child.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
{% import _self as lm %}


{# header starts here #}
<header class="section-padded main-header bg-gray">
    <div class="container">
        <div class="row">

            <div class="logo col-xs-6 col-sm-3">
                <a href="/">{{ wp_title }}</a>
            </div>

            <div class="col-xs-1 col-sm-6">
                {{ lm.header_nav(header_menu, 'hidden-xs') }} {# desktop menu #}
            </div>

            <div class="col-xs-5 col-sm-3">
                <a class="menu-toggle pull-right visible-xs " role="button" data-toggle="collapse" href="#main-header-menu" aria-expanded="false" aria-controls="main-header-menu">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

        {# mobile menu #}
        <div class="row">
            <div class="col-sm-12">
                <div class="main-header-nav-mobile-holder collapse" id="main-header-menu">
                    {{ lm.header_nav(header_menu, 'visible-xs') }}
                </div>
            </div>
        </div>

    </div>
</header>
