{# Let's give any component a common header section.
Uses Shared: Flex Section Header fields (section_header select, section_heading, section_intro ... #}
{# Starting values are either passed  . TODO: where do gv values come from? #}
{% set header_col = gv.sections.headerAlignment %}
{% if not header_position %}
    {% set header_position = gv.sections.headerAlignment %}
{% endif %}
{% if not heading %}
    {% set heading = post.section_heading %}
{% endif %}
{% if not intro %}
    {% set intro = post.section_intro %}
{% endif %}
{% if not margin %}
    {% set margin = true %}
{% endif %}
{# default passed in alignment, 'left', 'center', etc. #}
{% if not alignment %}
    {% set alignment = post.text_alignment ?: gv.sections.headerAlignment %}
{% endif %}
{% set header_col = gv.bootstrapContentClasses %} {# default is content width #}
{% if gv.sections.headerWidth == 'dynamic' %}
    {% if contentWidth in ['container', 'full'] %}
        {% set header_col = 'col-12' %}
    {% endif %}
{% endif %}
<div class="row header-row contentWidth-{{ contentWidth }}  justify-content-{{ header_position }} mb-2 mb-md-4">
    <div class="{{ header_col }}">
        <div class="{{ alignment ? 'text-' ~ alignment : '' }}  {{ margin and gv.spacer ? 'mb-' ~ gv.spacer : '' }} ">
            {% if heading %}<h2>{{ heading }}</h2>{% endif %}
            {% if intro %}<div class="header-blurb mt-2">{{ intro|wpautop }}</div>{% endif %}
        </div>
    </div>
</div>
