<section class="flex-wysiwyg {{ bg_color }} {{ text_color }} {{ section_classes }} {{ flex_id }}"
         id="{{ item_slug }}">
    <div class="container">
        {% include "partials/section-header.twig" %}
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-content">{{ post.wysiwyg_content }}</div>
            </div>
        </div>
    </div>
</section>
