{% macro hero_text(section, alignment) %}
  <div class="flex flex-col gap-4 md:gap-6">
    {% if section.hero_heading %}
      <h1 class="text-secondary mb-0">{{ section.hero_heading }}</h1>
    {% endif %}
    {% if section.hero_subheading %}
      <div class="text-sans">{{ section.hero_subheading|wpautop }}</div>
    {% endif %}
    {% if section.hero_button.url %}
      <div>
        <a href="{{ section.hero_button.url }}" class="btn-primary">
          {{ section.hero_Button.title ? section.hero_Button.title : 'go' }}
        </a>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% set image_position = image_position|default('right') %}

<div class="flex flex-col md:flex-row {{ image_position == 'right' ? 'md:flex-row-reverse' : '' }}">
  <div class="w-full md:w-3/5 relative z-[2]">
    {% if section.hero_image or post.thumbnail %}
      {% if section.hero_image %}
        {% set hero_image = get_image(section.hero_image) %}
      {% else %}
        {% set hero_image = get_image(post.thumbnail) %}
      {% endif %}
      {% set size = 'Social' %}
      {% set focal = get_image_dimensions(hero_image.id, size).focal %}

      <img class="object-cover h-full w-full relative z-[-2] {{
        focal.tailwind_class
          ? 'object-' ~ focal.tailwind_class
          : ''
        }}"
        src="{{ hero_image.src(size) }}"
        srcset="{{ hero_image.srcset(size) }}"
        sizes="{{ hero_image.img_sizes(size) }}"
        alt="{{ hero_image.alt }}"
        height="{{ get_image_dimensions(hero_image.id, size).height }}"
        width="{{ get_image_dimensions(hero_image.id, size).width }}"
        fetchpriority="{{ section.flex_index <= 1 ? 'high' : '' }}" />
    {% else %}
      <div class="bg-primary h-full w-full relative z-[-2]"></div>
    {% endif %}
  </div>
  <div class="w-full md:w-2/5 flex items-center justify-start md:justify-center p-4 md:p-8">
    {{ _self.hero_text(section, 'left') }}
  </div>
</div>
