{% macro hero_text(section, alignment) %}
  <div class="">
    {% if section.hero_heading %}
      <h1 class="text-white span-style mb-0">{{ section.hero_heading }}</h2>
    {% endif %}
    {% if section.hero_subheading %}
      <h2 class="text-accent mb-0">{{ section.hero_subheading }}</h2>
    {% endif %}
    {% if section.hero_button.url %}
      <div class="buttonContainer">
        <a href="{{ section.hero_button.url }}" class="btn btn-{{ buttonColor }} section.hero_button {{ buttonStyle }}">
          {{ section.hero_Button.title ? section.hero_Button.title : 'go' }}
        </a>
      </div>
    {% endif %}
  </div>
{% endmacro %}

<div class="relative">
  {% if section.hero_image_wide %}
    {% set hero_image_wide = get_image(section.hero_image_wide) %}
    {# {{ dump(hero_image_wide) }} #}
    <img class="w-full relative z-[-2]"
      src="{{ hero_image_wide.src }}"
      srcset="{{ hero_image_wide.srcset }}"
      sizes="{{ hero_image_wide.img_sizes }}"
      alt="{{ hero_image_wide.alt }}"
      fetchpriority="{{ section.flex_index <= 1 ? 'high' : '' }}" />
  {% endif %}

  {% if section.hero_heading or section.hero_subheading %}
    {# overlay is used either to make a container for text, and to potentially mask an image #}
    {% set enable_overlay = false %}
    {% set overlay_class = 'md:bg-gradient-bottom md:opacity-80' %}
    <div class="bg-primary md:bg-transparent md:absolute md:inset-0 {{ enable_overlay ? overlay_class : '' }}">
      <div class="container-default md:h-full md:relative">
        {% set text_position = section.hero_text_position ? section.hero_text_position : 'left' %}
        {% set text_classes = {
          left: 'md:flex md:justify-start',
          right: 'md:flex md:justify-end'
        } %}
        {% set text_class = text_classes[text_position] %}

        <div class="w-full flex items-center py-4 md:bg-transparent md:w-full md:h-full md:items-center {{ text_class }}">
          {{ _self.hero_text(section, 'left') }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
