<div class="container-default">
  <h1>Hero</h1>
  {% if post.blockquote %}
    <h2>{{ post.blockquote }}</h2>
  {% endif %}
  {% if post.quote_attribution %}
    <p class="attribute">&mdash; {{ post.quote_attribution }}</p>
  {% endif %}
</div>

{% if hero_variant == 'text-only' %}
  {% set hero_classes = '' %}
{% else %}
  {% set hero_classes = 'grid lg:grid-cols-3 lg:gap-4' %}
{% endif %}
<div class="container-default {{ hero_classes }}">
  <div class="py-12 lg:col-span-2">
    <h1 class="text-6xl lg:text-8xl font-semibold font-sans pb-5">{{ post.hero_heading }}</h1>
    {% if post.hero_subheading %}
      <div class="text-xl lg:text-3xl font-sans leading-relaxed">{{ post.hero_subheading }}</div>
    {% endif %}
  </div>
  {% if post.hero_buttons.hero_btns %}
    <div class="col-span-1">
      <a href="{{ btn.hero_btn.link }}"
        target="{{ btn.hero_btn.target }}"
        class="text-orange-500 text-center font-semibold text-base uppercase tracking-wide">
        {{ btn.hero_btn.title }}
      </a>
      <ul class="hero-buttons list-none">
        {% for btn in post.hero_buttons.hero_btns %}
          <li>
            <a href="{{ btn.hero_btn.link }}"
              target="{{ btn.hero_btn.target }}"
              class="text-orange-500 text-center font-semibold text-base uppercase tracking-wide">
              {{ btn.hero_btn.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if post.hero_variant == 'text_image' %}
    <div class="col-span-1 text-center center flex order-first lg:order-last">
      <img src="{{ post.hero_image.url }}" class="mx-auto lg:w-2/3" alt="{{ post.hero_image.alt }}" />
    </div>
  {% endif %}
</div>

{# envokes text class of teal so it can be used in wp editor #}
<div class="text-teal-green-600 hidden"></div>
